:root {
    --couleur-principale: #D7BFDF;
    --couleur-principale-clair: #E9DCEA;
    --couleur-principale-fonce: #A67AA9;
    --couleur-typo: #23680C;
    --halloween-p: #FF9A00;
    --halloween-s: #881EE4;
    --noel: #B3000C;
    --typo: #####;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: var(--couleur-principale-clair);
    display: flex;
    height: 150px;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

header nav {}

header nav ul {
    display: flex;
    text-decoration: none;

}

header nav ul li {
    list-style-type: none;
    align-items: center;
}