@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");

:root {
  --couleur-principale: #d7bfdf;
  --couleur-principale-clair: #e9dcea;
  --couleur-principale-fonce: #a67aa9;
  --couleur-typo: #23680c;
  --halloween-p: #ff9a00;
  --halloween-s: #881ee4;
  --noel: #b3000c;
  --typo: "Josefin Sans", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--typo);
  max-width: 1440px;
  margin: 0 auto;
}

body li:hover {
  transform: scale(1.3);
  background-color: rgba(215, 191, 223, 0.4);
  border-radius: 5px;
}

header {
  background-color: var(--couleur-principale-clair);
  display: flex;
  height: 100px;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.logo_asso {
  width: 100px;
  height: 100px;
}

header nav {
  height: 100%;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header nav ul {
  display: flex;
  text-decoration: none;
  align-items: baseline;
  justify-content: space-between;
}

header nav ul li {
  list-style-type: none;
  margin: 0 10px;
  transition: transform ease-in-out 0.2s;
  padding: 10px;
}

header nav ul li a {
  text-decoration: none;
  color: var(--couleur-typo);
  font-size: 1.5em;
}

.lien_accueil {
  font-weight: bold;
  font-size: 2.5em;
}

.btn_profil {
  display: flex;
}

header button {
  font-family: var(--typo);
  color: #fff;
  background-color: var(--couleur-principale-fonce);
  cursor: pointer;
  padding: 15px;
  border: none;
  border-radius: 25px;
  font-size: 1.5em;
}

.img_workspace {
  margin-left: 15px;
  cursor: pointer;
}

/* ceci est pour le titre */

#back {
  background-color: #d7bfdf;
  padding: 6%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: center;
  align-content: flex-start;
  background-image: url(../images/bannière_tuto.png);
}

.nos {
  color: #23680c;
  background-color: #e9dcea;
  padding: 21px;
  text-align: center;
  font-size: 60px;
  width: 604px;
  margin-top: -26px;
  border-radius: 15px;
}

.nes {
  padding: 22px;
  background-color: #A67AA9;
  color: white;
  margin-top: 69px;
  text-align: center;
  width: 167px;
  height: 80px;
  border-radius: 26px;
  font-size: 33px;
}

/* corps de liste_tutos */

#corps {
  background-color: #e9dcea;
  width: auto;
  height: auto;
  padding: 15px;
  flex-direction: column;
}

#corps1 {
  background-color: #e9dcea;
  width: auto;
  height: auto;
  padding: 15px;
  flex-direction: column;
}


#corps2 {
  background-color: #e9dcea;
  width: auto;
  height: auto;
  padding: 15px;
  flex-direction: column;
}

.ptext{
  height: 57px;
  width: 137px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #a16214;
  position: absolute;
  bottom: -70px;
  right: 70px;
  font-size: 30px;
}
/* ceci est la parti accessoire*/

#video {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.vectoor {
  height: 40px;
  margin-right: 15px;
}

.toto {
  background-color: #A67AA9;
  height: 60px;
  width: 143px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -30px;
  border-radius: 23px;
  color: aliceblue;
  position: absolute;
right: -25px;
}

.box_img{
  position: relative;
  display: flex;
  justify-content: flex-end;
  margin: 0 15px ;
}

.toto:nth-child(1) {
  position: relative;
}

.toto:nth-child(3) {
  position: relative;
}

#acce {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#accessoire1 {
  background-color: #A67AA9;
  color: white;
  width: 183px;
  height: 80px;
  border-radius: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#boite_accessoire {
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  align-items: center;
  margin-bottom: 51px;
}

.img_acce {
  width: 300px;
  height: 300px;
}

/* ici c'est pour les flêches  */

.fleche {
  width: 150px;
  height: 150px;
  transform: rotate(-90deg);
}

.fleche1 {
  width: 150px;
  height: 150px;
  transform: rotate(90deg);
}

.lien{
  color: #fff;
}

/* ceci est le footer */

.foot {
  max-width: 1440px;
  height: 680px;
  border: solid black 2px;
  padding-bottom: 30px;
}

.photo_fond {
  background-image: url(../images/banniere_footer.png);
  background-repeat: no-repeat;
  width: 100%;
  height: 40%;
}

.container {
  margin-top: 30px;
  height: 250px;
}

.reseaux {
  display: flex;
  width: 100%;
}

.details_reseaux {
  display: flex;
  justify-content: space-around;
  width: 815px;
  height: 257px;
}

.liens_reseaux {
  padding: 20px;
  height: 250px;
}

.logo_gmail {
  margin-top: 20px;
}

.parents {
  padding: 20px;
  margin-left: 90px;
  font-size: 1.4em;
  font-family: "Josefin Sans", sans-serif;
  color: #23680c;
}

.logo {
  margin-top: 20px;
}

.suivre {
  margin-left: 90px;
  font-size: 1.4em;
  font-family: "Josefin Sans", sans-serif;
  color: #23680c;
}

.line_vert {
  border-left: 2px solid #000;
  display: inline-block;
  height: 200px;
  margin: 0 20px;
}

.line_hor {
  border-bottom: 2px solid #000;
  display: inline-block;
  width: 1133px;
  margin: 0 100px;
}

.contact_ {
  width: 200px;
}

.droits {
  font-size: 1.4em;
  font-family: "Josefin Sans", sans-serif;
  width: 100%;
  text-align: center;
}

.bouton {
  display: flex;
  align-items: center;
  width: 200px;
  flex-direction: column;
  font-size: 1.4em;
  font-family: "Josefin Sans", sans-serif;
}

.parents_droit {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
}

.image {
  width: 50%;
}

.bidul {
  color: #000;
}

#haut {
  scroll-behavior: smooth;
}


svg {
  display: none;
  color: #000;
  width: 24px;
  height: 28px;
}

input,
label {
  display: none;
}

/* Début du Responsive */

@media screen and (min-width: 769px) and (max-width: 1085px) {

  header nav,
  header .btn_profil button {
    font-size: 0.6em;
  }
}

@media screen and (max-width: 768px) {

  /* début nav bar */

  header {
    justify-content: space-between;
    padding: 0 20px;
    position: relative;
  }

  header nav ul,
  header .btn_profil button {
    display: none;
  }

  header nav ul {
    position: absolute;
    left: 0;
    top: 80px;
    background-color: var(--couleur-principale-fonce);
    width: 200px;
    height: 0;
    overflow: hidden;
    align-items: center;
    transition: all 0.3s ease-in-out;
    display: block;
    margin-left: 22px;
    z-index: 10;
  }

  header nav ul li a {
    color: white;
    font-weight: normal;
  }

  header nav ul li a.lien_accueil {
    font-weight: normal;
  }

  header nav ul li {
    padding: 8px 0;
  }

  header nav ul li:hover {
    transform: none;
    transition: none;
  }

  header nav {
    width: auto;
  }

  header .logo_asso {
    border-radius: 50%;
  }

  header svg,
  header label {
    display: block;
  }

  input:checked~ul {
    flex-direction: column;
    transition: all 0.3s ease-in;
    height: 225px;
    display: block;
  }

  /* fin nav bar */


  
  /* debut du corps du site */


  #acce {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    padding: 15px;
    /* margin-top: -1px; */
}




  #boite_accessoire {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    align-items: center;
    flex-direction: column-reverse;
  }

  .fleche {
    width: 150px;
    height: 150px;
    transform: rotate(-90deg);
    display: none;
  }

  .fleche1 {
    width: 150px;
    height: 150px;
    transform: rotate(-90deg);
    display: none;
  }

  .img_acce {
    width: 300px;
    height: 300px;
    margin-top: 0px;
    margin-bottom: 117px;
}

  .toto {
    background-color: #A67AA9;
    height: 60px;
    width: 141px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 13px;
    border-radius: 23px;
    color: aliceblue;
    position: absolute;
    right: 70px;
}
  
.nos {
  color: #23680c;
  background-color: #e9dcea;
  padding: 14px;
  text-align: center;
  font-size: 46px;
  width: 518px;
  margin-top: -26px;
  border-radius: 15px;
}


.nes {
  padding: 12px;
  background-color: #A67AA9;
  color: white;
  margin-top: 33px;
  text-align: center;
  width: 167px;
  height: 59px;
  border-radius: 26px;
  font-size: 33px;
}
  #corps {
    background-color: #e9dcea;
    width: auto;
    height: auto;
    padding: 15px;
    flex-direction: column;
    display: none;
  }

  #corps2 {
    background-color: #e9dcea;
    width: auto;
    height: auto;
    padding: 15px;
    flex-direction: column;
    display: none;
  }

  .ptext{
    height: 57px;
    width: 137px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #a16214;
    position: absolute;
    bottom: 70px;
    right: 70px;
    font-size: 30px;
  }
 
  /* debut footer  */

  .details_reseaux {
    width: auto;
  }

  .line_vert {
    display: none;
  }

  .reseaux {
    flex-direction: column;
  }

  .parents {
    margin-top: -107px;
  }

  .line_hor {
    display: none;
  }

  .droits {
    margin-top: -20px;
  }

  /* Fin responsive Footer */

}
