@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

:root {
    --couleur-principale: #D7BFDF;
    --couleur-principale-clair: #E9DCEA;
    --couleur-principale-fonce: #A67AA9;
    --couleur-typo: #23680C;
    --halloween-p: #FF9A00;
    --halloween-s: #881EE4;
    --noel: #B3000C;
    --typo: 'Josefin Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--typo);
    max-width: 1440px;
    margin: 0 auto;
}

/* début HEADER */

header {
    background-color: var(--couleur-principale-clair);
    display: flex;
    height: 100px;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.logo_asso {
    width: 100px;
    height: 100px;
}

header nav {
    width: 700px;
    height: 100%;
    display: flex;
    align-items: center;
}

header nav ul {
    width: 100%;
    display: flex;
    text-decoration: none;
    align-items: baseline;
    justify-content: space-between;
}

header nav ul li {
    list-style-type: none;
    margin: 0 10px;
}

header nav ul li a {
    text-decoration: none;
    color: var(--couleur-typo);
    font-size: 1.5em;
}

.lien_accueil {
    font-weight: bold;
    font-size: 2.5em;
}

.btn_profil {
    display: flex;
}

header button {
    font-family: var(--typo);
    color: #FFF;
    background-color: var(--couleur-principale-fonce);
    cursor: pointer;
    padding: 15px;
    border: none;
    border-radius: 25px;
    font-size: 1.5em;
}

.img_workspace {
    margin-left: 15px;
    cursor: pointer;
}
/* début code page réalisations */

main {
    display: flex;
    flex-wrap: wrap;
}

.prem_section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    background-color: var(--couleur-principale-clair);
    height: 715px;
}

.titre_page {
    align-items: center;
    border-radius: 15px;
    width: 789px;
    height: 120px;
    background-color: var(--couleur-principale);
    margin: 30px;
    box-shadow: 2px 2px 2px rgba(50, 47, 47, 0.957);

}

.titre_page h1 {
    font-size: 2.7em;
    align-items: center;
    text-align: center;
    color: var(--couleur-typo);
    margin-top: 20px;

}

.cartes_fondateurs {
    height: 552px;
    background-color: var(--couleur-principale-clair);
    width: 100%;
}