@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");

:root {
  --couleur-principale: #d7bfdf;
  --couleur-principale-clair: #e9dcea;
  --couleur-principale-fonce: #a67aa9;
  --couleur-typo: #23680c;
  --halloween-p: #ff9a00;
  --halloween-s: #881ee4;
  --noel: #b3000c;
  --typo: "Josefin Sans", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1440px;
  margin: 0 auto;
  font-family: var(--typo);
}
body li:hover {
  transform: scale(1.3);
  border-radius: 5px;
  background-color: rgba(215, 191, 223, 0.4);
}

html {
  scroll-behavior: smooth;
}

/* début HEADER */

header {
  background-color: var(--couleur-principale-clair);
  display: flex;
  height: 100px;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.logo_asso {
  width: 100px;
  height: 100px;
}

header nav {

  width: 70%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header nav ul {
  display: flex;
  text-decoration: none;
  align-items: baseline;
  justify-content: space-between;
}

header nav ul li {
  list-style-type: none;
  margin: 0 10px;
  transition: transform ease-in-out 0.2s;
  padding: 10px;
}

header nav ul li a {
  text-decoration: none;
  color: var(--couleur-typo);
  font-size: 1.5em;
}

.lien_accueil {
  font-weight: bold;
  font-size: 2.5em;
}

.btn_profil {
  display: flex;
}

header button {
  font-family: var(--typo);
  color: #fff;
  background-color: var(--couleur-principale-fonce);
  cursor: pointer;
  padding: 15px;
  border: none;
  border-radius: 25px;
  font-size: 1.5em;
}

.img_workspace {
  margin-left: 15px;
  cursor: pointer;
}

/* fin HEADER */

/* début BANNIERE */

.banniere {
  height: 623px;
  color: var(--couleur-typo);
}

.titre_page {
  height: 130px;
  background-color: var(--couleur-principale-clair);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
}

.banniere_image {
  background-image: url(images/banniere_paques.png);
  height: 493px;
  display: flex;
  align-items: flex-end;
}

.banniere_titre {
  width: 100%;
  height: 100px;
  background-color: rgba(166, 122, 169, 0.65);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-transform: uppercase;
  font-size: 3em;
  font-weight: 600;
}
/* fin BANNIERE */

/* début SECTION réalisation des adhérents */

section {
  width: 1440px;
  height: 2663px;
  background-color: var(--couleur-principale);
  color: var(--couleur-typo);
}

section .titre_realisation {
  width: 100%;
  height: 130px;
  background-color: var(--couleur-principale-clair);
  display: flex;
  justify-content: center;
  align-items: center;
}

section .titre_realisation h3 {
  font-size: 2.5em;
}

section .real_box1 {
  width: 100%;
  height: 770px;
  display: flex;
}

section .real_box1 .real_josephine,
section .real_box1 .real_gustave {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-evenly;
  align-items: center;
}

section .real_box1 .real_josephine p,
section .real_box1 .real_gustave p {
  font-size: 2em;
}

section .real_box2 {
  width: 100%;
  height: 1780px;
  display: flex;
  flex-direction: column;
}

section .real_box2 p {
  font-size: 2em;
}

section .real_box2 .real_micheline {
  width: 100%;
  height: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

section .real_box2 .real_yassine {
  width: 100%;
  height: 880px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

/* fin SECTION réalisation des adhérents */

/* début FOOTER */

.foot {
  max-width: 1440px;
  height: 680px;
  padding-bottom: 30px;
}

.photo_fond {
  background-image: url(../../images/banniere_footer.png);
  background-repeat: no-repeat;
  width: 100%;
  height: 40%;
}

.container {
  margin-top: 30px;
  height: 250px;
}

.reseaux {
  display: flex;
  width: 100%;
}

.details_reseaux {
  display: flex;
  justify-content: space-around;
  width: 815px;
  height: 257px;
}

.liens_reseaux {
  padding: 20px;
  height: 250px;
}

.logo_gmail {
  margin-top: 20px;
}

.parents {
  padding: 20px;
  margin-left: 90px;
  font-size: 1.4em;
  font-family: "Josefin Sans", sans-serif;
  color: #23680c;
}

.logo {
  margin-top: 20px;
}

.suivre {
  margin-left: 90px;
  font-size: 1.4em;
  font-family: "Josefin Sans", sans-serif;
  color: #23680c;
}

.line_vert {
  border-left: 2px solid #000;
  display: inline-block;
  height: 200px;
  margin: 0 20px;
}

.line_hor {
  border-bottom: 2px solid #000;
  display: inline-block;
  width: 1133px;
  margin: 0 100px;
}

.contact_ {
  width: 200px;
}

.droits {
  font-size: 1.4em;
  font-family: "Josefin Sans", sans-serif;
  width: 100%;
  text-align: center;
}

.bouton {
  display: flex;
  align-items: center;
  width: 200px;
  flex-direction: column;
  font-size: 1.4em;
  font-family: "Josefin Sans", sans-serif;
}

.parents_droit {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
}

.image {
  cursor: pointer;
}

/* fin FOOTER */

svg {
  display: none;
  color: #000;
  width: 24px;
  height: 28px;
  cursor: pointer;
}

input, label {
  display: none;
}

/* Début du Responsive */

@media screen and (min-width: 769px) and (max-width: 1085px) {
  header nav, header .btn_profil button {
    font-size: 0.6em;
  }
}

@media screen and (max-width: 768px) {

  /* début nav bar */

  header {
    justify-content: space-between;
    padding: 0 20px;
    position: relative;
  }

  header nav ul, header .btn_profil button {
    display: none;
  }

  header nav ul {
    position: absolute;
    left: 0;
    top: 80px;
    background-color: var(--couleur-principale-fonce);
    width: 200px;
    height: 0;
    overflow: hidden;
    align-items: center;
    transition: all 0.3s ease-in-out;
    display: block;
    margin-left: 22px;
    z-index: 10;
  }

  header nav ul li a {
    color: white;
    font-weight: normal;
  }

  header nav ul li a.lien_accueil {
    font-weight: normal;
  }

  header nav ul li {
    padding: 8px 0;
  }

  header nav ul li:hover {
    transform: none;
    transition: none;
  }

  header nav {
    width: auto;
  }

  header .logo_asso {
    border-radius: 50%; 
  }

  header svg, header label {
    display: block;
  }

  input:checked ~ ul {
    flex-direction: column;
    transition: all 0.3s ease-in;
    height: 225px;
    display: block;
  }

  /* fin nav bar */

  .titre_page {
    font-size: 1.5em;
    height: 75px;
  }

  .banniere {
    height: auto;
  }

  .banniere_image {
    height: 250px;
    background-position: left;
  }

  .banniere_titre {
    font-size: 1.5em;
    height: 70px;
  }

  section {
    width: auto;
    height: auto;
  }

  section .titre_realisation {
    height: 75px;
  }

  section .titre_realisation h3 {
    font-size: 1.2em;
  }

  section .real_box1 {
    flex-direction: column;
    height: auto;
  }

  section .real_box1 .real_josephine, section .real_box1 .real_gustave {
    width: auto;
  }
  
  section .real_box1 img {
    width: 340px;
    padding: 10px 0;
  }

  section .real_box2 {
    height: auto;
  }

  section .real_box2 .real_micheline, section .real_box2 .real_yassine {
    height: auto;
  }

  section .real_box2 .real_micheline img {
    height: 260px;
    padding: 10px 0;
  }

  section .real_box2 .real_yassine img {
    height: 185px;
    padding: 10px 0;
  }

  section .real_box1 .real_josephine p, section .real_box1 .real_gustave p,
  section .real_box2 .real_micheline p, section .real_box2 .real_yassine p {
    font-size: 1.2em;
  }

  section .real_box2 .real_yassine p {
    padding-bottom: 10px;
  }

  /* Début responsive Footer */

  .details_reseaux {
    width: auto;
  }

  .line_vert {
    display: none;
  }

  .photo_fond {
    display: none;
  }

  .foot {
    height: auto;
  }

  .reseaux {
    flex-direction: column;
  }

  .parents {
    margin-top: -107px;
  }

  .line_hor {
    display: none;
  }

  .droits {
    margin-top: -20px;
  }

  /* Fin responsive Footer */

}
/* Fin du Responsive */
