@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@font-face {
    font-family: MerryChristmasFlakes;
    src: url(fonts/MerryChristmasFlake.ttf) format('truetype');
}
@font-face {
    font-family: CurlzMT;
    src: url(fonts/CurlzMT.ttf) format('truetype');
}

:root {
    --couleur-principale: #D7BFDF;
    --couleur-principale-clair: #E9DCEA;
    --couleur-principale-fonce: #A67AA9;
    --couleur-typo: #23680C;
    --halloween-p: #FF9A00;
    --halloween-s: #881EE4;
    --noel: #B3000C;
    --typo: 'Josefin Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    width: 1440px;
    height: 1600px;
    background-color: var(--noel);
    margin: auto;
}

.titre {
    height: 182px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.titre a {
    font-family: var(--typo);
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    margin: -80px 0 0 30px;
}

.titre h1 {
    font-family: MerryChristmasFlakes, var(--typo);
    color: white;
    font-size: 5em;
    font-weight: normal;
}

.texte {
    display: flex;
    align-items: center;
    height: 374px;
}

.texte p {
    color: white;
    font-family: MerryChristmasFlakes, var(--typo);
    font-size: 3.6em;
    text-align: center;
    padding: 0 20px;
}

.texte p .nombre {
    font-family: CurlzMT, var(--typo);
}

.formulaire {
    width: 1440px;
    height: 1044px;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    width: 1360px;
    height: 900px;
    background-color: white;
    border-radius: 15px;
    text-transform: uppercase;
    font-family: var(--typo);
}

#bouton_envoie {
    text-transform: uppercase;
    font-family: var(--typo);
}

.taille_box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 320px;
    height: 90px;
    background-color: var(--noel);
    color: white;
    font-family: var(--typo);
    font-size: 2em;
    font-weight: bold;
    border-radius: 15px;
}

.form_flex {
    display: flex;
    justify-content: space-evenly;
}

input {
    border-color: transparent;
    background-color: var(--noel);
}

input[type=text], input[type=email], input[type=date] {
    width: 822px;
    height: 90px;
}

input[type=date] {
    color: rgb(17, 4, 4);
    font-size: 2em;
    text-align: center;
    font-family: var(--typo);
}

/* input[type=date]::-webkit-calendar-picker-indicator {
    background: url(../../images/calendrier.png);
    width: 80px;
    height: 60px;
    margin-right: 200px;
} */

@-moz-document url-prefix() {
    span {
    background-image: url(../../images/calendrier.png);
    }
}

.form_top_box {
    width: 1360px;
    height: 750px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}